:root {
  --c-background: #1e1e1e;
  --c-paper: #303030;

  --c-text-primary: #e2e8f0;
  --c-text-secondary: #ffffff66;

  --c-border-light: #ffffff1a;
  --c-input-border: #4b5563;
  --c-input-placeholder: #69778a;

  --c-bg-active: #393939;
  --c-bg-hover: #434343;

  --c-price-flat-bg: #5a5a5a;
  --c-price-down-bg: #bc3030;
  --c-price-up-bg: #067e55;
  --c-primary: #1c64f2;

  --radius-lg: 8px;
  --radius-sm: 4px;

  --xxxs-indent: 2px;
  --xxs-indent: 4px;
  --xs-indent: 8px;
  --s-indent: 16px;
  --m-indent: 24px;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Ubuntu,
    'Helvetica Neue',
    Oxygen,
    Cantarell,
    sans-serif;

  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: var(--c-text-primary);
  background-color: var(--c-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
